.game-keyboard-key {
  border: 1px solid black;
  padding: 4px;
  margin: 1px;
  height: 50px;
  width: 35px;
  border-radius: 2px;
  background-color: rgb(216, 216, 216);
  border: none;
  position: relative;
  font-size: 16px;
  color: black;
  font-weight: 550;
}

.game-keyboard-key-correct {
  background-color: var(--color-correct);
  color: white;
}

.game-keyboard-key-correct-partial {
  background-color: var(--color-partial);
  color: white;
}

.game-keyboard-key-incorrect {
  background-color: var(--color-incorrect);
  color: white;
}

.extraButton {
  border: 1px solid black;
  padding: 4px;
  margin: 1px;
  height: 50px;
  border-radius: 2px;
  border: none;
  position: relative;
  font-size: 15px;
  font-weight: 550;
  background-color: rgb(216, 216, 216);
}
