@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800;900&family=Roboto+Serif:wght@700&family=Source+Code+Pro:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: rgb(27, 27, 27);
}

.App {
  text-align: center;
}

.title {
  font-family: "Bitter", serif;
  color: rgb(13, 47, 102);
}

.header {
  background-color: rgb(27, 27, 27);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgb(13, 47, 102);
  font-size: 25px;
}

.game {
  /* height: 60vh; */
  overflow-y: auto;
}
