@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800;900&family=Roboto+Serif:wght@700&family=Source+Code+Pro:wght@500&display=swap");
:root {
  --color-correct: rgb(84, 161, 83);
  --color-partial: rgb(193, 196, 45);
  --color-incorrect: rgb(131, 131, 131);
  --color-accent: rgb(13, 47, 102);
  --color-input-text: rgb(51, 51, 51);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
}

.title {
  font-family: "Bitter", serif;
  color: var(--color-accent);
}

.header {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid var(--color-accent);
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.game {
  /* height: 60vh; */
  overflow-y: auto;
}

.header-left,
.header-right {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--color-accent);
}

a {
  color: inherit;
}
