@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800;900&family=Roboto+Serif:wght@700&family=Source+Code+Pro:wght@500&display=swap");
:root {
  --color-correct: rgb(84, 161, 83);
  --color-partial: rgb(193, 196, 45);
  --color-incorrect: rgb(99, 99, 99);
  --color-accent: rgb(13, 47, 102);
  --color-input-text: rgb(51, 51, 51);
  --color-validate-text: white;
  --color-bg-accent: rgb(138, 138, 138);
  background-color: #ffffff;
  text-align: center;
}

.header-title {
  font-family: "Bitter", serif;
  color: var(--color-accent);
  margin-bottom: 6px;
  margin-top: 6px;
}

.header {
  background-color: white;
  padding-top: 7px;
  padding-bottom: 0px;
  margin-bottom: 7px;
  border-bottom: 1.5px solid var(--color-accent);
  font-size: 15px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 12px;
  }
}

.header-left,
.header-right {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--color-accent);
}

a {
  color: inherit;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.preview-button {
  color: var(--color-accent);
  background-color: white;
  border: 2px solid var(--color-accent);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 34px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-accent);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-family: "Bitter", serif;
  margin-top: 20px;
}
.preview-button-mobile {
  color: white;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  border-radius: 20px;
  padding: 10px 18px;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-accent);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-top: 20px;
  font-weight: 400;
}
.preview-button:hover,
.preview-button-mobile:hover {
  box-shadow: inset 0 100px 0 0 var(--color-accent);
  color: white;
}

.preview-squares {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  font-size: 16px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin: 2px;
  padding: 0px;
}
.preview-animate {
  animation: flip2 6s forwards;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  backface-visibility: show;
}

@keyframes flip2 {
  0% {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.preview-squares-1 {
  animation-delay: 0s;
}
.preview-squares-2 {
  animation-delay: 0.1s;
}
.preview-squares-3 {
  animation-delay: 0.2s;
}
.preview-squares-4 {
  animation-delay: 0.3s;
}
.preview-squares-5 {
  animation-delay: 0.4s;
}
.preview-squares-6 {
  animation-delay: 0.5s;
}
.preview-squares-7 {
  animation-delay: 0.6s;
}